body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /*background: linear-gradient(270deg, black, gray*/
    background: black;
  );
}

header {
    margin-top: 40px;
    color: white;
    text-align: center;
}

#circle {
    width: 300px;
    height: 300px;
    margin: 80px auto;
    background: orange;
    border-radius: 100%;
    /*box-shadow: 0px 0px 4px 2px black;*/
}